* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

section {
    margin-left: 150px;
    margin-right: 40px;
}

#opener {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: flex-end;
}

button {
    display: block;
    color: black;
    background-color: turquoise;
    width: 400px;
    height: 50px;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

div * {
    display: flex;
    justify-content: flex-start;
}

#submit {
    display: inline;
    align-items: flex-start;
    height: 30px;
    width: 75px;
    margin-top: 0;
}

.final-buttons {
    display: inline;
    align-items: flex-start;
    height: 30px;
    width: 200px;
    text-justify: center;
    margin-top: 20px;
}

input {
    height: 20px;
    display: inline;
    align-items: flex-start;
}

footer {
    color: grey;
    margin-left: 150px;
    border: grey;
}



