* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#opener {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: flex-end;
}

button {
    display: block;
    color: black;
    background-color: turquoise;
    width: 400px;
    height: 50px;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
